POSTGRES_URL=jdbc:postgresql://localhost:5435/realtime_social_media_sentiments
POSTGRES_USERNAME=admin
POSTGRES_PASSWORD=adminpassword
INTENT_SERVICE_URL=https://films-pitch-feof-magazine.trycloudflare.com
